#search-head{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.progress{
    height: 50px;
    background: transparent;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.steps{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9c9a9d;
    
}
.r-one{
    position: relative;   
}
#prg1{
     background-color: #7103B6;
}
#prg1title{
    color: #7103B6;
}
.stepstitle,
.stepstitle2{
    position: absolute;
    bottom: -15px;
    left: 0 ;
    font-size: 10px;
    color: #9c9a9d
}
.stepstitle3{
    position: absolute;
    bottom: -15px;
    left: -10px;
    font-size: 10px;
    color: #9c9a9d
}

#prg2{
    background-color: #9c9a9d
}

#prg3{
    background-color: #9c9a9d
}

.line{
    width: 80px;
    height: 2px;
    background-color: #9c9a9d;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.result-con {
    width: 12em;
    min-width: 12em;
    height: 13em;
    border: 2px solid #7103B6;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.result-details-con{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 80%;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.online-status {
    color: rgb(59, 63, 59);
}

.offline-status {
    color: rgb(63, 60, 59);
}
.status-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: flex;
}

.status-dot.online {
    background-color: rgb(13, 194, 13);
}

.status-dot.offline {
    background-color: red;
}
.info-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.status-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: .5em;
}  
.result-location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
}
.result-name, .result-location{
    margin: 0;
}
.result-name{
    font-size: .7em;
}
#sr{
    display: none;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
#searchConDiv,
#resultsContainer,
#sr,
#step-2,
#step-3 {
  position: relative;
  left: 0;
  opacity: 1;
  transition: left 0.5s, opacity 0.5s;
}

#step-2,
#step-3 {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.next-btn{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #7103B6;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 10px;
}
.next-btn:hover{
    color: white;
    background-color: #a229ee;
}
.step-two{
    width: 100%;
}

.step-2-header,
.step-3-header{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-2-body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 10px;
}

.profilepic,
.album1,
.album2{
    width: 250px;
    height: 250px;
}
.profilepic{
    cursor: pointer;
    border: 2px solid #7103B6;
    border-radius: 10px;
}
.album1,
.album2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pic{
    width: 48%;
    height: 48%;
    border: 2px solid #7103B6;
    border-radius: 10px;
    cursor: pointer;
}
.about-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}
.bio-section{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.other-section{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.heads{
    font-size: .9em;
    font-weight: 500;
    margin: 0;
}
.bio,
.age,
.location,
.price{
    font-size: .8em;
    color: #767577;
    margin-bottom: 10px;
}
.step-3-name{
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
}
.step-3-des{
    font-size: .8em;
    color: #767577;
    margin-bottom: 10px;
}
.step-3-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.step-3-tpl{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.type-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 20px;
}
.select{
    border: none;
    outline: none;
    background: transparent;
}
.pay-btn{
    color: white;
    text-decoration: none;
    padding: 10px 80px;
    background-color: #7103B6;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
    margin: 10px;
}
.pay-btn:hover{
    color: white;
    background-color: #a229ee;
}
.bottom-des{
    margin-top: 50px;
}
@media screen and (max-width: 1250px){
   
    .profilepic,
    .album1,
    .album2{
        width: 200px;
        height: 200px;
    }
    .album1,
    .album2{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .pic{
        width: 46%;
        height: 46%;
        border: 2px solid #7103B6;
        border-radius: 10px;
        cursor: pointer;
    }
    .about-section{
        gap: 50px;
    }
    .bio-section{
        width: 350px;
    }
    .other-section{
        width: 200px;
    }
}
@media screen and (max-width: 650px) {
    .step-2-body{
        flex-direction: column;
        gap: 10px;
    }
    .profilepic,
    .album1,
    .album2{
        width: 250px;
        height: 250px;
    }
    .about-section{
        flex-direction: column-reverse;
    }
    .about-section{
        gap: 20px;
        align-items: center;
    }
    .bio-section{
        width: 80%;
        text-align: center;
    }
    .other-section{
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #resultsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        width: 100%;
    }
    .result-con {
        width: 9em;
        min-width: 7em;
        height: 10em;
    } 
    .welcome{
        margin-top: 5px;
    }  
    .step-3-tpl{
        width: 300px;
    }
    .pay-btn{
        padding: 10px 50px;
    }
}
@media screen and (max-width: 330px) {
    .step-3-tpl{
        width: 280px;
    }
}