.pro-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prof-title{
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
}
.add-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.p-text{
    border: 1px dashed #ccc;
    border-radius: 10px;
    font-size: .8em;
    width: 80%;
    padding: 10px 5px;
}
.drop-pics-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: .7em;
    background-size: cover;
    background-position: center;
}
.lil-box{
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    border: none;
}
.subs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.p-upload{
    width: 80%;
    font-size: .8em;
}
.p-upload span{
    color: rgb(122, 115, 115);
    font-weight: 600;
}
.pro-form{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    justify-self: center;
}
.form-con{
    display: flex;
    width: 100%;
    gap: 5em;
}
.segment{
    width: 50%;
}
.p-label{
    padding: 5px;
    font-size: .9em;
    font-weight: 500;
}
.p-input{
    padding: 20px;
    border: 1px solid rgb(155, 151, 155);
    width: 100%;
    font-size: .8em;
    border-radius: 50px;
    outline: none;
    margin-bottom: 15px;
    background: transparent;
}
.p-bio{
    padding: 20px;
    border: 1px solid rgb(155, 151, 155);
    width: 100%;
    height: 200px;
    font-size: .8em;
    border-radius: 25px;
    outline: none;
    margin-bottom: 15px;
    background: transparent;
}
.btn-con{
    display: flex;
    width: 100%;
    padding: 20px;
}
.pro-btn{
    width: 30%;
    min-width: 50px;
    border-radius: 50px;
    padding: 15px;
    border: 1px solid rgb(155, 151, 155);
    background-color: #7103B6;
    color: white;
    justify-self: center;
    margin: 15px auto 0 auto;
}

@media screen and (max-width: 1000px) {
    .nav-con{
        margin-bottom: 30px;
    }
    .add-container{
        width: 90%;
        gap: 5px;
    }
    .pro-form{
        width: 90%;
    }
    .form-con{
        gap: 1em;
    }
}

@media screen and (max-width: 800px) {
    .add-container{
        width: 95%;
    }
}

@media screen and (max-width: 750px) {
    .add-container{
        flex-direction: column;
        gap: 10px;
    }
    .drop-pics-con {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lil-box{
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 5px;
        border: none;
    }
    .pro-btn{
        width: 60%;
    }
}

@media screen and (max-width: 750px){
    .drop-pics-con {
        width: 90%;
    }    
}

@media screen and (max-width: 600px){
    .form-con{
        flex-direction: column;
    }
    .segment{
        width: 100%;
    }
    .pro-btn{
        width: 80%;
    }
}
