.profile-pane{
    width: 95%;
    margin: 0 auto;
    padding: 10px 20px;
}
.profile-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-title{
    font-size: 1.1em;
    color: rgb(61, 59, 61);
    font-weight: 500;
}
.edit-btn{
    color: #7103B6;
    font-size: .9em;
    text-decoration: none;
    cursor: pointer;
}
.pro-con{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 0;
    gap: 20px;
}
.pro-left{
    display: grid;
    grid-template-columns: 50% 50%;
}

#profile-name{
    font-size: 1.2em;
    font-weight: 500;
}
.age-loc{
    display: grid;
    grid-template-columns: 50% 50%;
}
.age-title, .loc-title, .price-title{
    font-size:.8em;
    font-weight: 550;
    display: flex;
    flex-direction: column;
}
#user-age, #user-loc{
    font-size:.9em;
    color: #59565a;

}
.pro-right{
    display: flex;
    justify-content: space-between;
   
}
.pro-price{
    margin-top: 15px;
}
.price-div{
    width: 60%;
    border: 1.8px solid #7103B6;
    border-radius: 50px;
    color: #7103B6;
    padding: 5px 10px;
    margin: 10px 0;
}
.ind{
    font-size: .8em;
}
#short-price, #over-price{
    font-weight: 500;
}
#right-con{
    justify-self: end;
    width: 13em;
    border: 3px solid #7103B6;
    border-radius: 10px;
}
.album-1,
.album-2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.left-top, .left-bottom,
.right-top, .right-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.size{
    width: 8em;
    height: 7em;
    border: 3px solid #7103B6;
    border-radius: 10px;
}

/* ----------------------------------------------------- */
@media screen and (max-width: 1200px){
    .pro-con{
        grid-template-columns: 45% 55%;
        gap: 10px;
    }
    .price-div{
        width: 70%;
    }    
}


@media screen and (max-width: 1100px){
    .pro-con{
        grid-template-columns: 50% 50%;
        gap: 5px;
    }
    .price-div{
        width: 80%;
    } 
    .size{
        width: 6.5em;
        height: 6em;
        border: 3px solid #7103B6;
        border-radius: 10px;
    } 
    #right-con{
        width: 90%;
    } 
}


@media screen and (max-width: 1000px){
    .pro-con{
        display: flex;
        flex-direction: column;
    }
    .price-div{
        width: 50%;
    } 
    .left-top, .left-bottom,
    .right-top, .right-bottom{
        width: 100%;
    }
    .size{
        width: 50%;
        height: 8em;
        border: 3px solid #7103B6;
        border-radius: 10px;
    } 
    .pro-right{
        gap: 10px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1100px){
    .price-div{
        width: 50%;
    } 
    .size{
        height: 7em;
    }
}  
@media screen and (max-width: 700px){
    .price-div{
        width: 90%;
    } 
} 

@media screen and (max-width: 460px){
  
    .age-loc{
        grid-template-columns: 30% 70%;
    }
    .pro-price{
        margin-top: 5px;
    }
    .price-div{
        width: 100%;
    } 
    #user-loc,
    #user-age{
        font-size: .8em;
    }
    .ind{
        font-size: .6em;
    }
    #short-price,
    #over-price{
        font-size: .8em;
    }
    .size{
        height: 5em;
    }
}  